.foldout {
	max-height: 15px; /* sets the resting height of the content area */
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	border: solid lightgrey 1px;
	border-radius: 8px;
	overflow: hidden; /* hides the text outside of the div */
	background-color: #def1e1; /* sets the resting background color */
	padding: 5px;
	/* below are the actual transition functions for each browser */
	transition: max-height 1s, background-color 1s;
	-moz-transition: max-height 1s, background-color 1s; /* Firefox 4 */
	-webkit-transition: max-height 1s, background-color 1s; /* Safari and Chrome */
	-o-transition: max-height 1s, background-color 1s; /* Opera */
}

.foldout:hover {
	background-color: #fbffdb; /* Transition-to when hovered */
	max-height: 1000px; /* this value must be set for this to work could be 1000 100000 1000000 */
}